{% extends "base.html" %}
{% load static from staticfiles %}

{% block extra-head %}
    <link rel="stylesheet" href="{% static 'css/jquery.circliful.css' %}"/>

{% endblock %}

{% block body %}
    {% for artikel in artikels %}
        <div class="artikel">
        <div class="artikel-titel">
            <h2>{{ artikel.naam }}</h2>
        </div>
            <div class="artikel-foto">
                <img src="{{ artikel.foto.url }}" width="200">
            </div>
            <div class="artikel-beschrijving">
                {{ artikel.beschrijving }}
            </div>
            <div class="artikel-percent hidden">
                <div id="percent-{{ artikel.pk }}" data-dimension="200" data-text="{{ artikel.percent }}%"
                     data-width="30" data-fontsize="38" data-percent="{{ artikel.percent }}"
                     data-fgcolor="#61a9dc" data-bgcolor="#eee" data-fill="#ddd" data-total="100"
                     data-part="{{ artikel.percent }}" data-icon="long-arrow-up" data-icon-size="28"
                     data-icon-color="#fff" data-type="half"></div>
            </div>
            <div class="artikel-bestel">
                <a href="{% url 'bestel' %}">{{  }}</a>
            </div>
            <div class="artikel-prijs">
                € {{ artikel.totaal }}
            </div>

        </div>
    {% endfor %}

{% endblock %}



{% block end-scripts %}
    <script src="{% static 'js/jquery.circliful.js' %}"></script>
    <script>
        $( document ).ready(function() {
            {% for a in artikels %}$('#percent-{{ a.pk }}').circliful();{% endfor %}
        });
    </script>
{% endblock %}